

body{
    display:flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: aquamarine;
} 

.container{
display : flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 1000px;
width: 1000px;
background-color: bisque;
border: 2px solid black;
border-radius: 10px;
font-family: sans-serif;

;
}

.content{
    height: 50px;
    width: 200px;
    background-color: aquamarine;
}

.content1{
    height: 50px;
    width: 200px;
}

#lol{
    display :flex;
    justify-content: center;
    align-items: center;
}